$xxl_breakpoint: 1919px;
$xl_breakpoint: 1440px;
$l_breakpoint: 1100px;
$lm_breakpoint: 880px;
$m_breakpoint: 768px;
$sm_breakpoint: 429px;

@mixin xxl() {
  @media all and (max-width: $xxl_breakpoint) {
    // 768px以內
    @content;
  }
}

@mixin xl() {
  @media all and (max-width: $xl_breakpoint) {
    // 768px以內
    @content;
  }
}

@mixin l() {
  @media all and (max-width: $l_breakpoint) {
    // 768px以內
    @content;
  }
}

@mixin lm() {
  @media all and (max-width: $lm_breakpoint) {
    // 768px以內
    @content;
  }
}

@mixin m() {
  @media all and (max-width: $m_breakpoint) {
    // 576px以內
    @content;
  }
}

@mixin sm() {
  @media all and (max-width: $sm_breakpoint) {
    // 576px以內
    @content;
  }
}
